
img[src$="_ad.gif"] {display:none;}
a[href="http://xiaominvbao.taobao.com/"] img {display:none;}
a[href*="download.2345."] img {display:none;}
.txtads,#videoPlayRight,.indexAd,#right_ad_float,#eMeng,#ad04,#ad_tool,#ad-shim,.movie_ad,#comiis_mf00,#comiis_mf01,.txt_ad2,.h-gg_free,#fazhi_meipin,#nbaVid300Ad,#ylmf_loadingmsg,#endSwfAd {display:none;}
#Left_ad,#Right_ad,#float_ad,#videoLeftAd,#videoRightAd,#float_ad_box,#adLeftFloat,#adRightFloat,#floatAd,#floatAD {display:none;}
.content_ad_300,#gxnews_fullad,.book_AD,.ad770x70,#duomiAd,.ggbanner,.new_ad_img,#jyrcwmuban1banner,#jyrcwmuban1dh+center,#jyrcwmbwz1,#jyrcwmbwz2,.blog_content_ad,#AD300x100,[id^="Ad_ts_www_todaysteelindex_"],#frame8LiU5s {display:none;}
#cntvSearch_ad,.right_ad1,#windlocation,#flashad1,#ad-rp,#crazy-ad-wrapper,.ad.include,#kxcpmdiv,#rightAD,.ad_ri,.lhad_300_150 {display:none;}
#sitefocus.focus {display:none;}
.resource-detail-ad,.bander_ad960,.right-advert,#ad_700,.zwidth#gg1,#art_rightgg1 {display:none;}
#advid6,#advid7,#advid4,#xiazaidizhi_ad,#view-gg,.play_ad_box,.ad_486_60,.ad_980_60,.homead_960x80,.header_ads,.ad_catagory,.eis_ad {display:none;}
.home_ad,.adArea2.mt5.mb5,#ad-bigbanner,#ad_lazyload,#herder_gg,#youad1 {display:none;}
.lianxi_gg,.guanggaowei_top,#kfivtwin,#miaov_float_layer,#downmsg_emessage,#Tool_adv,[class^="tuzuanad"] {display:none !important;}
a[href="http://www.quer365.org/dl.php"] img,a[href="http://shop71070624.taobao.com"] img,a[href="http://92666.taobao.com/"] img {display:none;}
[id^="ad_banner_"],div[class^="adv980"],[id^="ads300"] {display:none;}
iframe[src*="/configs/article/"] {display:none;}
iframe[src*="down.qiannao.com/tomos/ui/"] {display:none;}
iframe[src*="img.itbulo.com/js/11/"] {display:none;}
iframe[src*="lining.sina.com.cn"] {display:none;}
iframe[src*="soxia.cc"] {display:none;}
iframe[src*="sp.luo.bo"] {display:none;}
iframe[src*="wantbuy.chinatimes.com"] {display:none;}
iframe[src*="businessweekly.com.tw/event/"] {display:none;}
#ads_top_homepage,#ads_top_video,.index-info.cc .tac,.DaKuang,#andyClick {display:none;}
#splink {display:none;}
.bm.a_c,.a_pb {display:none;}
.a_pr,.a_fr,.a_fl {display:none;}
.ad_headerbanner {display:none;}
iframe[src*="static1.mtime."] {display:none;}
a[href*="da.feedsportal."] img {display:none;}
#ad_headerbanner {display:none;}
#ads_c_tpc {display:none;}
.a_h {display:none;}
.ad_footerbanner {display:none;}
.archiver_banne {display:none;}
.topAD {display:none;}
.wp.a_f {display:none;}
iframe[src*="jianfei.zxrj88.com/wangba/"] {display:none;}
#AdArea {display:none;}
#AdMiddle {display:none;}
#AdServer {display:none;}
#LargeRectangleAd {display:none;}
#LeftAd {display:none;}
#RightAd {display:none;}
#TOP_ADROW {display:none;}
#TopAd {display:none;}
#ad-banner {display:none;}
#ad-bottom {display:none;}
#ad-box {display:none;}
#ad-left {display:none;}
#ad-lrec {display:none;}
#ad-north {display:none;}
#ad-right {display:none;}
#ad-righttop {display:none;}
#ad-sidebar {display:none;}
#ad-text {display:none;}
#ad001 {display:none;}
#ad01 {display:none;}
#ad02 {display:none;}
#ad300 {display:none;}
#ad336 {display:none;}
#ad336x280 {display:none;}
#ad468 {display:none;}
#ad600 {display:none;}
#ad728x90 {display:none;}
#adBanner {display:none;}
#adBanner2 {display:none;}
#adBanner3 {display:none;}
#adBanner4 {display:none;}
#adBox {display:none;}
#adDiv {display:none;}
#adHeaderTop {display:none;}
#adLayer {display:none;}
#adRight {display:none;}
#adTextLink {display:none;}
#adTop {display:none;}
#adTop1 {display:none;}
#ad_1 {display:none;}
#ad_2 {display:none;}
#ad_3 {display:none;}
#ad_300 {display:none;}
#ad_300_250 {display:none;}
#ad_300_250_1 {display:none;}
#ad_4 {display:none;}
#ad_5 {display:none;}
#ad_A {display:none;}
#ad_B {display:none;}
#ad_C {display:none;}
#ad_D {display:none;}
#ad_E {display:none;}
#ad_F {display:none;}
#ad_G {display:none;}
#ad_H {display:none;}
#ad_I {display:none;}
#ad_J {display:none;}
#ad_M {display:none;}
#ad_N {display:none;}
#ad_O {display:none;}
#ad_P {display:none;}
#ad_banner {display:none;}
#ad_bottom {display:none;}
#ad_box {display:none;}
#ad_branding {display:none;}
#ad_container_top {display:none;}
#ad_footer {display:none;}
#ad_frame {display:none;}
#ad_head {display:none;}
#ad_header {display:none;}
#ad_left {display:none !important;}
#ad_middle {display:none;}
#ad_right {display:none !important;}
#ad_sidebar {display:none;}
#ad_space {display:none;}
#adtop {display:none;}
#googleAd {display:none;}
#google_ads {display:none;}
#google_ads_frame1 {display:none;}
#google_ads_frame2 {display:none;}
#google_ads_frame3 {display:none;}
#googlead {display:none;}
#googleadsense {display:none;}
#head-banner468 {display:none;}
#head_ad {display:none;}
#headad {display:none;}
#headerAd {display:none;}
#header_ad {display:none;}
#indexad {display:none;}
#left-bottom-ad {display:none;}
#left_ad {display:none;}
#leftad {display:none;}
#logoAd {display:none;}
#main-ad {display:none;}
#main_ad {display:none;}
#mbEnd[cellspacing="0"][cellpadding="0"] {display:none;}
#mclip_container:last-child {display:none;}
#ns_ad3 {display:none;}
#right-ad {display:none;}
#rightAd {display:none;}
#right_ad {display:none;}
#right_ads {display:none;}
#rightad {display:none;}
#rightad2 {display:none;}
#rightads {display:none;}
#ros_ad {display:none;}
#showad {display:none;}
#side_ad {display:none;}
#sidead {display:none;}
#sidebar-ad {display:none;}
#sidebar-ads {display:none;}
#slide_ad {display:none;}
#sponsored_links {display:none;}
#sponsoredlinks {display:none;}
#tads.c {display:none;}
#tadsb.c {display:none;}
#textAd {display:none;}
#text_ad {display:none;}
#textad {display:none;}
#textad_block {display:none;}
#top-ad {display:none;}
#topAd {display:none;}
#top_ad {display:none;}
#top_ads {display:none;}
#top_ads {display}
#topad {display:none;}
#topad1 {display:none;}
#topad2 {display:none;}
#topbannerad {display:none;}
#toptextad {display:none;}
#uzcrsite {display:none;}
#videoAdvert {display:none;}
#whatsnews_top_ad {display:none;}
#yan-sponsored {display:none;}
.ADbox {display:none;}
.Ad300x250 {display:none;}
.BannerAd {display:none;}
.a728x90 {display:none;}
.ad-300-250 {display:none;}
.ad-area {display:none;}
.ad-banner {display:none;}
.ad-bottom {display:none;}
.ad-box {display:none;}
.ad-button {display:none;}
.ad-column {display:none;}
.ad-container {display:none;}
.ad-div {display:none;}
.ad-head {display:none;}
.ad-header {display:none;}
.ad-label {display:none;}
.ad-leaderboard {display:none;}
.ad-left {display:none;}
.ad-link {display:none;}
.ad-text {display:none;}
.ad-top {display:none;}
.ad-wrapper {display:none;}
.ad100 {display:none;}
.ad120 {display:none;}
.ad140 {display:none;}
.ad160 {display:none;}
.ad230 {display:none;}
.ad250 {display:none;}
.ad300 {display:none;}
.ad300250 {display:none;}
.ad300_250 {display:none;}
.ad300x250 {display:none;}
.ad315 {display:none;}
.ad468 {display:none;}
.ad468x60 {display:none;}
.ad530 {display:none;}
.ad600 {display:none;}
.ad728 {display:none;}
.adBanner {display:none;}
.adBlock {display:none;}
.adBox {display:none;}
.adBox1 {display:none;}
.adDiv {display:none;}
.adFrame {display:none;}
.adLeaderboard {display:none;}
.adLeft {display:none;}
.adRight {display:none;}
.adSlot {display:none;}
.adSpace {display:none;}
.adSquare {display:none;}
.adSummary {display:none;}
.adTitle {display:none;}
.adTxt {display:none;}
.adWrap {display:none;}
.adWrapper {display:none;}
.ad_0 {display:none;}
.ad_1 {display:none;}
.ad_2 {display:none;}
.ad_200 {display:none;}
.ad_200x200 {display:none;}
.ad_3 {display:none;}
.ad_300 {display:none;}
.ad_300x250 {display:none;}
.ad_468x60 {display:none;}
.ad_600 {display:none;}
.ad_728 {display:none;}
.ad_728_90 {display:none;}
.ad_banner {display:none;}
.ad_border {display:none;}
.ad_botbanner {display:none;}
.ad_bottom {display:none;}
.ad_box {display:none;}
.ad_center {display:none;}
.ad_column {display:none;}
.ad_content {display:none;}
.ad_contents {display:none;}
.ad_footer {display:none;}
.ad_frame {display:none;}
.ad_global_header {display:none;}
.ad_holder {display:none;}
.ad_leaderboard {display:none;}
.ad_line {display:none;}
.ad_link {display:none;}
.ad_main {display:none;}
.ad_mpu {display:none;}
.ad_news {display:none;}
.ad_one {display:none;}
.ad_right {display:none;}
.ad_side {display:none;}
.ad_text {display:none;}
.ad_title {display:none;}
.ad_top {display:none;}
.ad_unit {display:none;}
.ad_wrap {display:none;}
.adarea {display:none;}
.adbanner {display:none;}
.adbar {display:none;}
.adboard {display:none;}
.adborder {display:none;}
.adbot {display:none;}
.adbottom {display:none;}
.adcont {display:none;}
.addiv {display:none;}
.adfoot {display:none;}
.adframe {display:none;}
.adleft1 {display:none;}
.adlink {display:none;}
.adlist {display:none;}
.adpic {display:none;}
.adright {display:none;}
.ads300 {display:none;}
.adsBox {display:none;}
.adsDiv {display:none;}
.adsTowerWrap {display:none;}
.ads_300 {display:none;}
.ads_box {display:none;}
.ads_catDiv {display:none;}
.ads_holder {display:none;}
.ads_remove {display:none;}
.ads_right {display:none;}
.ads_side {display:none;}
.ads_title {display:none;}
.adsbox {display:none;}
.adsider {display:none;}
.adsmessage {display:none;}
.adtab {display:none;}
.adtop {display:none;}
.adtxt {display:none;}
.adv300 {display:none;}
.adver {display:none;}
.advert-text {display:none;}
.advertise-top {display:none;}
.advertisement {display:none;}
.advertiser {display:none;}
.advertize {display:none;}
.adwords {display:none;}
.article_ad {display:none;}
.articlead {display:none;}
.banner-300x250 {display:none;}
.banner-ad {display:none;}
.banner-ads {display:none;}
.banner_ad {display:none;}
.bannerad {display:none;}
.bigAd {display:none;}
.big_ad {display:none;}
.block-openads {display:none;}
.blockAd {display:none;}
.block_ad {display:none;}
.blog_ad {display:none;}
.blogads {display:none;}
.bottom_ad {display:none;}
.bottomad {display:none;}
.box-ad {display:none;}
.box-ads {display:none;}
.boxad {display:none;}
.btm_ad {display:none;}
.category-ad {display:none;}
.center_ad {display:none;}
.ch[onclick="ga(this,event)"] {display:none;}
.cnn_728adbin {display:none;}
.cnn_adtitle {display:none;}
.content-ad {display:none;}
.contentAd {display:none;}
.content_ad {display:none;}
.contentad {display:none;}
.custom_ads {display:none;}
.divAd {display:none;}
.downloadad {display:none;}
.ec-ads-remove-if-empty {display:none;}
.firstpost_advert_container {display:none;}
.flashad {display:none;}
.floatad {display:none;}
.footad {display:none;}
.footer_ad {display:none;}
.footerad {display:none;}
.g_ggl_ad {display:none;}
.googad {display:none;}
.google_ad {display:none;}
.google_ads {display:none;}
.googlead {display:none;}
.googleads {display:none;}
.head_ad {display:none;}
.header-ad {display:none;}
.headerAd {display:none;}
.header_ad {display:none;}
.header_ads {display:none;}
.headerad {display:none;}
.imgad {display:none;}
.inline-ad {display:none;}
.innerad {display:none;}
.ipsAd {display:none;}
.item-container-ad {display:none;}
.label-ad {display:none;}
.leftAd {display:none;}
.left_ad {display:none;}
.leftad {display:none;}
.lg_ad {display:none;}
.logoad {display:none;}
.main-ad {display:none;}
.main_ad {display:none;}
.mf-ad300-container {display:none;}
.midad {display:none;}
.middle-ad {display:none;}
.miniad {display:none;}
.module-ad {display:none;}
.moduletable-advert {display:none;}
.nav_ad {display:none;}
.navad {display:none;}
.newsAd {display:none;}
.openx_ad {display:none;}
.other_adv2 {display:none;}
.post_ad {display:none;}
.postbit_adcode {display:none;}
.r_ads {display:none;}
.ra[align="right"][width="30%"] {display:none;}
.rightAd {display:none;}
.right_ad {display:none;}
.right_ad_box {display:none;}
.rightad {display:none;}
.rightads {display:none;}
.side-ad {display:none;}
.sideAd {display:none;}
.sideBoxAd {display:none;}
.side_ad {display:none;}
.side_ad2 {display:none;}
.sidead {display:none;}
.sideads {display:none;}
.sidebar-ad {display:none;}
.sidebar-ads {display:none;}
.sidebarAd {display:none;}
.sidebarad {display:none;}
.sidebaradbox {display:none;}
.spons-link {display:none;}
.sponsoredlinks {display:none;}
.sugarad {display:none;}
.tab_ad {display:none;}
.text-ad {display:none;}
.text-ads {display:none;}
.textAd {display:none;}
.text_ad {display:none;}
.textad {display:none;}
.top-ad {display:none;}
.topAds {display:none;}
.topBannerAd {display:none;}
.top_ad {display:none;}
.top_ads {display:none;}
.topadbox {display:none;}
.topads {display:none;}
.txtAds {display:none;}
.txt_ad {display:none;}
.type_miniad {display:none;}
.usenext {display:none;}
.wide_ad {display:none;}
.wide_ads {display:none;}
.yahooAd {display:none;}
.yom-ad {display:none;}
.skyscraperAd {display:none;}
.widget-ads {display:none;}
.wp125ad {display:none;}
#ad_wrap {display:none;}
#content_ad {display:none;}
.adtable {display:none;}
#divAd {display:none;}
#bigAd {display:none;}
#ad_right_box {display:none;}
.ad-box2 {display:none;}
#flashad {display:none;}
#adbottom {display:none;}
.articleAd {display:none !important;}
#adtext {display:none;}
if(!yXzy_cd("sports.letv.")){yXzy_wc('#ad_top {display:none;}');};
.masthead-ad-control {display:none;}
.flash_ad {display:none;}
.ezAdsense {display:none;}
.bottomAd {display:none;}
.art_ads {display:none;}
.adwrap {display:none;}
.advBox {display:none;}
.adspace-widget {display:none;}
.adfooter {display:none;}
.adheader {display:none;}
.ad_top_left {display:none;}
.ad_panel {display:none;}
.ad_middle {display:none;}
.ad336x280 {display:none;}
.ad-side {display:none;}
#topbar-ad {display:none;}
#player_ad {display:none;}
#headerad {display:none;}
#hd_ad {display:none;}
#gamead {display:none;}
#footer_ad {display:none;}
#channel_ad {display:none;}
#bottom-ad {display:none;}
#adzerk2 {display:none;}
#adsense1 {display:none;}
#ads_topbanner {display:none;}
#ad11 {display:none;}
#ad-box-first {display:none;}
#ad-box-second {display:none;}
#adright {display:none;}
#adleft {display:none;}
#bottom_ad {display:none !important;}
.adBar {display:none;}
.adCont {display:none;}
#text_ads {display:none;}
#footerad {display:none;}
#sideAd {display:none !important;}
#ad-top {display:none;}
.mod_ads, .ad_body {display:none !important;}
.top-ads {display:none;}
.adside {display:none;}
div[id^="div-gpt-ad-"] {display:none;}
#advertise {display:none;}
.newad {display:none;}
.ad200 {display:none;}
#ads_text {display:none;}
#banner_ad {display:none;}
.detail_ad {display:none;}
#adbox2 {display:none;}
#adbox {display:none;}